.banner {
    background-image: url("https://www.digitalhouse.com/br/assets/metas/201203095746-2p33kwnxjki8ugt9e.jpg");
    height: 1280px;
    width: 720px;
}

button {

width: 300px;
border: 15px solid green;
border-radius: 20px;
}