*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

main {
}

intro {
    height: 100vh;
    background-color: lightseagreen;
}

.outro {
    width: 50%;
    height: 100vh;
    background-color: lightpink;
}

